## Enables support for dosfs filesystem
CONFIG_FAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_NLS=y
CONFIG_NLS_DEFAULT="iso8859-1"

### It seems to be needed in order to mount /boot
# from: https://unix.stackexchange.com/questions/479310/failed-to-mount-fat-filesystem-codepage-cp437-not-found
CONFIG_NLS_CODEPAGE_437=y
