## Adds support for ext4 filesystem
CONFIG_FS_IOMAP=y
CONFIG_EXT4_FS=y
CONFIG_JBD2=y
CONFIG_FS_MBCACHE=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_CRYPTO_HASH=y
CONFIG_CRYPTO_HASH2=y
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_CRYPTO_HW=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_CRC16=y

## In order to mount ext4
CONFIG_NLS_ISO8859_1=y

## Enabling security labels and related
CONFIG_EXT4_FS_SECURITY=y
CONFIG_FSNOTIFY=y
