CONFIG_AUDIT=y
CONFIG_AUDITSYSCALL=y
CONFIG_BPF=y
CONFIG_NET_NS=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_NET_IP_TUNNEL=y
CONFIG_INET_TABLE_PERTURB_ORDER=16
CONFIG_INET_TUNNEL=y
CONFIG_INET_DIAG=y
CONFIG_INET_TCP_DIAG=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_DEFAULT_TCP_CONG="cubic"
CONFIG_IPV6=y
CONFIG_IPV6_SIT=y
CONFIG_IPV6_NDISC_NODETYPE=y
CONFIG_NETWORK_SECMARK=y
CONFIG_NET_RX_BUSY_POLL=y
CONFIG_BQL=y
CONFIG_WIRELESS=y
CONFIG_MAC80211_STA_HASH_MAX_SIZE=0
CONFIG_DST_CACHE=y
CONFIG_GRO_CELLS=y
CONFIG_ETHTOOL_NETLINK=y
CONFIG_SECURITY=y
CONFIG_SECURITY_NETWORK=y
CONFIG_LSM_MMAP_MIN_ADDR=65536
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_AVC_STATS=y
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=0
CONFIG_SECURITY_SELINUX_SIDTAB_HASH_BITS=9
CONFIG_SECURITY_SELINUX_SID2STR_CACHE_SIZE=256
CONFIG_INTEGRITY=y
CONFIG_INTEGRITY_AUDIT=y
# this one is for old kernels (4.x I think..)
# It got removed in commit: c91d8106b370593b4d3dcc0b06282bf39478ae13
# (also check commit: 70b62c25665f636c9f6c700b26af7df296b0887e)
# and reintroduced in commit: 2623c4fbe2ad1341ff2d1e12410d0afdae2490ca 
# linus's tree, branch master; see commit msg for details.
# CONFIG_DEFAULT_SECURITY_SELINUX=y
CONFIG_LSM="selinux" #,integrity,bpf"
CONFIG_CRYPTO=y
CONFIG_CRYPTO_ALGAPI=y
CONFIG_CRYPTO_ALGAPI2=y
CONFIG_CRYPTO_HASH=y
CONFIG_CRYPTO_HASH2=y
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_CRYPTO_HW=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_CRYPTO_LIB_UTILS=y
CONFIG_CRYPTO_LIB_SHA1=y
CONFIG_CRC16=y
CONFIG_AUDIT_GENERIC=y
CONFIG_DQL=y
CONFIG_NLATTR=y
